* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
.contener1 {
  display: flex;
  margin: 0 12px;
  position: relative;
  padding-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contener1 .logo a {
  color: black;
  z-index: 20px;
}
.contener1 .logo a:hover {
  color: #ffcc70;
  transition: 0.5s;
}
span {
  padding: 8px;
}
.contener1 .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contener1 .navbar a {
  margin-left: 50px;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
}
.contener1 .navbar a:hover {
  color: #fff;
  transition: 0.5s;
}
.contener1 .navbar a:nth-child(4) {
  font-weight: 500px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 20px;
}
.contener1 .navbar a:nth-child(4):hover {
  border: 2px solid black;
  transition: 0.5s;
}
.body {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
.body .left {
  width: 640px;
  margin: 50px;
  padding-top: 3%;
  padding-left: 23px;
}
.body .right {
  width: 640px;
  margin: 50px;
  padding-top: 3%;
  padding-left: 23px;
}
.body .right .con {
  text-align: center;
  margin-top: 28px;
  font-size: 26px;
}
.body .right h1 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 2px;
}
.body .right .contact {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}
.body .right .contact a {
  color: #fff;
  font-size: 23px;
  padding: 12px;
}
.body .right .contact a:nth-child(1):hover {
  color: rgb(44, 83, 184);
}
.body .right .contact a:nth-child(2):hover {
  color: rgba(28, 26, 25, 0.66);
}
.toggle {
  display: none;
}

/* Media query*/

@media screen and (max-width: 1100px) {
  body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-size: cover;
  }
  .body {
    align-items: center;
    flex-direction: column;
  }
  .contener1 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15%;
    padding-top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-size: cover;
  }
  .body {
    align-items: center;
    flex-direction: column;
  }
  .contener1 .navbar a:nth-child(4) {
    border: hidden;
  }
  .contener1 .navbar a:nth-child(4):hover {
    border: hidden;
  }
  .contener1 .logo a {
    font-size: -23px;
  }
  .contener1 .navbar a {
    display: none;
  }
  /* navbar Resposive */
  .toggle {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
  }
  .toggle .ouvrir {
    display: block;
  }
  .toggle .fermer {
    display: none;
  }
  .open .toggle .ouvrir {
    display: none;
  }
  .open .toggle .fermer {
    display: block;
  }
  .open .contener1 .navbar nav {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: rgba(137, 132, 132, 0.427);
    border-radius: 10px;
    transition: 0.6s;
  }
  .open .contener1 .navbar nav a {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
  }
}

@media screen and (max-width: 640px) {
  body {
    width: 100%;
    height: 100%;
  }
  .body {
    align-items: center;
    flex-direction: column;
  }
  .body .right {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding-right: 13px;
  }
  .body .left {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 320px) {
  .body .left {
    padding-right: 20px;
  }
}
